<div class="header-middle">
	<!--header-middle-->
	<div class="container">
		<div class="row">
			<div class="col-md-4 clearfix">
				<div class="logo pull-left">
					<a href="/"><img th:src="@{/eshop/images/home/logo.png}" alt=""></a>
				</div>
				
			</div>
			<div class="col-md-8 clearfix">
				<div class="shop-menu clearfix pull-right">
					<ul class="nav navbar-nav">
						<li><a href="/"><i class="fa fa-user"></i> <span sec:authentication="name">Account</span></a></li>
						<li><a href=""><i class="fa fa-star"></i> Wishlist</a></li>
						<li><a href="checkout.html"><i class="fa fa-crosshairs"></i> Checkout</a></li>
						<li><a href="cart.html"><i class="fa fa-shopping-cart"></i> Cart</a></li>
						<li>
							<th:block sec:authorize="isAuthenticated()"><a th:href="@{/logout}"><i class="fa fa-lock"></i> Logout</a></th:block>
							<th:block sec:authorize="!isAuthenticated()"><a th:href="@{/login}"><i class="fa fa-lock"></i> Login</a></th:block>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>